fastapi
uvicorn[standard]
pydantic-settings
kagglehub
torch
torchvision
segmentation-models-pytorch
transformers
albumentations
opencv-python-headless
rasterio
geopandas
shapely
scikit-image
networkx
numpy
scipy
pyproj
redis
python-multipart
httpx
pytest
osmnx
sknw
geojson
pillow
