fastapi
uvicorn[standard]
pydantic-settings
python-multipart
kagglehub
torch
torchvision
segmentation-models-pytorch
opencv-python-headless
rasterio
scikit-image
shapely
networkx
sknw
geojson
albumentations
numpy
pillow
